body {
    background-color: #030000;
    margin: 0;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

.botaoTitulo {
    color: #FBD579;
    background-color: transparent;

    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 20px;

    border-radius: 25px;
    border-color: #FBD579;
    width: 614px;
    height: 92px;

    margin-top: 20px;
    margin-bottom: 10px;
}

.tituloCategoriaMaior {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: #030000;
    display: inline-block;
    line-height: 2.5;
    margin: 10px 10px;
}


.tituloCategoriaMaior button {
    background-color: #FBD579;
    border-radius: 25px;
    border-color: transparent;
    font-size: 15px;
    font-weight: 800;
    padding: 5px;
    width: 535px;
    height: 74px;
    cursor: pointer;
}

.tituloCategoriaNormal {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: #030000;
    display: inline-block;
    line-height: 2.5;
    margin: 10px 10px;
}


.tituloCategoriaNormal button {
    background-color: #FBD579;
    border-radius: 25px;
    border-color: transparent;
    font-size: 15px;
    font-weight: 800;
    padding: 5px;
    width: 350px;
    height: 74px;
    cursor: pointer;
}

.botaoTituloCategoria {
    color: #FBD579;
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;

    border-radius: 25px;
    border-color: #FBD579;

    width: 700px;
    height: 92px;
    margin-top: 128px;
}

/*Botão de rolar até o topo*/

.botaoVoltarAoTopo {
    font-size: 50px;
    color:#030000;
    text-decoration: none;

    background-color: #FBD579;
    border-radius: 25px;
    padding: 2px 10px 10px 10px;
    box-shadow: 3px 3px 10px #1F2120;

    position: fixed;
    right: 10px;
    bottom: 10px;

    cursor: pointer;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
}

.botaoVoltarAoTopo.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/*Sessões com as listas dos filmes*/

.sectionCinza {
    background-color: #1F2120;

    width: 100%;
    height: 660px;
}

.sectionPreta {
    background-color: #030000;

    width: 100%;
    height: 660px;
}

.sectionPretaMaior {
    background-color: #030000;

    width: 100%;
    height: 900px;
}

/*Imagens dos Cartazes e Vencedores*/

.imagem {
    position: relative;
    display: inline-block;

    margin: 10px;
}

.imagem img {
    cursor: pointer;
    width: 100%;

}

.imagem .textoHover {
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;

    background-color: #030000;

    font-size: 10px;
    color: #FBD579;

    padding: 5px;
    border-radius: 5px;

    opacity: 0;
    transition: opacity 0.3s;
}

.imagem:hover .textoHover {
    opacity: 1;
}

.imagemVencedor {
    position: relative;
    display: inline-block;

    border: 10px solid;
    border-color: #FBD579;
    
    margin: 10px 15px 0 15px;
}

.imagemVencedor img {
    cursor: pointer;
    width: 100%;

}

.imagemVencedor .textoHover {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;

    background-color: #030000;

    font-size: 10px;
    color: #FBD579;

    padding: 5px;
    border-radius: 5px;

    opacity: 0;
    transition: opacity 0.3s;
}

.imagemVencedor:hover .textoHover {
    opacity: 1;
}

.rodape {
    background-color: #1F2120;

    width: 100%;
    height: 300px;
}

.rodape button {
    top: 20px;
    text-align: center;

    font-size: 20px;
    color:#FBD579;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 3px;

    border-radius: 25px;
    border-color: #FBD579;
    width: 900px;
    height: 150px;


    margin-top: 20px;
    margin-bottom: 10px;

}

.rodape a {
    text-decoration: none;
    color:#FBD579;
    cursor: pointer;

    font-weight: 800;

}

.rodape img {
    width: 5%;
    margin-top: 30px;
}